@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red: #b22d36;
  --ocher: #c59c70;
  --brown_dark: #482613;
  --ocher_light: #dfd2ba;
  --brown: #794626;
  --orange: #e58632;
  --green: #4c9c61;
  --blue: #13a7e6;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

@font-face {
  font-family: "NexonGothic";
  src: url("./assets/fonts/nexon/NEXON\ Lv2\ Gothic\ Medium.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NexonGothic";
  src: url("./assets/fonts/nexon/NEXON\ Lv2\ Gothic\ Bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "NexonGothicLight";
  src: url("./assets/fonts/nexon/NEXON\ Lv2\ Gothic\ Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Unchained-Regular";
  src: url("./assets/fonts/unchained/Unchained-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Unchained-RegularShadow";
  src: url("./assets/fonts/unchained/Unchained-RegularShadow.ttf")
    format("truetype");
}

@font-face {
  font-family: "Unchained-Spaghetti";
  src: url("./assets/fonts/unchained/Unchained-Spaghetti.ttf")
    format("truetype");
}

@font-face {
  font-family: "Unchained-Spaghettuitalic";
  src: url("./assets/fonts/unchained/Unchained-SpaghettiItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: "BouWestern";
  src: url("./assets/fonts/BouWestern.ttf") format("truetype");
}

@font-face {
  font-family: "VanillaWhale";
  src: url("./assets/fonts/vanilla\ whale.otf") format("truetype");
}

@font-face {
  font-family: "YangJin";
  src: url("./assets/fonts/YangJin.ttf") format("truetype");
}
