@font-face {
  font-family: "NexonGothicRegular";
  src: url("./nexon/NEXON\ Lv2\ Gothic\ Medium.ttf") format("truetype");
}

@font-face {
  font-family: "NexonGothicBold";
  src: url("./nexon/NEXON\ Lv2\ Gothic\ Bold.ttf") format("truetype");
}

@font-face {
  font-family: "NexonGothicLight";
  src: url("./nexon/NEXON\ Lv2\ Gothic\ Light.ttf") format("truetype");
}

@font-face {
  font-family: "Unchained-DotGradient";
  src: url("./unchained/Unchained-DotGradient.ttf") format("truetype");
}

@font-face {
  font-family: "Unchained-Halfone";
  src: url("./unchained/Unchained-Halftone.ttf") format("truetype");
}

@font-face {
  font-family: "Unchained-Regular";
  src: url("./unchained/Unchained-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Unchained-RegularShadow";
  src: url("./unchained/Unchained-RegularShadow.ttf") format("truetype");
}

@font-face {
  font-family: "Unchained-Shdow";
  src: url("./unchained/Unchained-Shadow.ttf") format("truetype");
}

@font-face {
  font-family: "Unchained-Spaghetti";
  src: url("./unchained/Unchained-Spaghetti.ttf") format("truetype");
}

@font-face {
  font-family: "Unchained-Spaghettuitalic";
  src: url("./unchained/Unchained-SpaghettiItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Unchained-Stripes";
  src: url("./unchained/Unchained-Stripes.ttf") format("truetype");
}

@font-face {
  font-family: "Unchained-Vintage";
  src: url("./unchained/Unchained-Vintage.ttf") format("truetype");
}

@font-face {
  font-family: "BouWestern";
  src: url("./BouWestern.ttf") format("truetype");
}

@font-face {
  font-family: "VanillaWhale";
  src: url("./vanilla\ whale.otf") format("truetype");
}

@font-face {
  font-family: "YangJin";
  src: url("./YangJin.ttf") format("truetype");
}
